In [4]:
# This a test file to test my cleaning and processing functions, the final file caan be found under proecessed data

import pandas as pd
import numpy as np
#from sklearn.datasets import load_wine


# Method chaining begins

df = (   
   pd.read_csv('Medical_Cost.csv')
          .rename(columns={"charges": "Medical Costs per region"})
          .rename(columns={"sex": "Gender"})
          .rename(columns={"smoker": "Tobacco User"})
          .rename(columns={"age": "Age"})
          .rename(columns={"region": "Region"})
          .rename(columns={"children": "Children"})
          .rename(columns={"bmi": "BMI"})
          #.isnull().any()
         

)

#df1 = df.isnull().sum()

def format(x):
    return "${:0.2f}".format(x)
#df['Medical Costs per region'] = round(df['Medical Costs per region'],2)
df['Medical Costs per region'] = df['Medical Costs per region'].apply(format)
df = df[['Age','Gender','Children','BMI','Tobacco User','Medical Costs per region','Region']]
df['BMI'] = round(df['BMI'])
df2 = df.sort_values(by=['Age'], ascending = True)
df2

,Age,Gender,Children,BMI,Tobacco User,Medical Costs per region,Region
1248,18,female,0,40.0,no,$1633.96,southeast
482,18,female,0,31.0,no,$1622.19,southeast
492,18,female,0,25.0,no,$2196.47,northeast
525,18,female,0,34.0,no,$11482.63,southeast
529,18,male,0,25.0,no,$1708.00,northeast
...,...,...,...,...,...,...,...
398,64,male,2,26.0,no,$14988.43,southwest
335,64,male,0,34.0,no,$13822.80,southwest
378,64,female,3,30.0,no,$16455.71,northwest
1265,64,male,0,24.0,yes,$26926.51,southeast
635,64,male,0,38.0,no,$14410.93,northeast