In [1]:
import pandas as pd
import numpy as np
import os
from Pscripts import project_functions # This is called a relative import
df = project_functions.load_and_process('analysis/Pavni/Medical_Cost.csv')
df.head()

,Age,Gender,Children,BMI,Tobacco User,Medical Costs per region,Region
1248,18,female,0,40.0,no,$1633.96,southeast
482,18,female,0,31.0,no,$1622.19,southeast
492,18,female,0,25.0,no,$2196.47,northeast
525,18,female,0,34.0,no,$11482.63,southeast
529,18,male,0,25.0,no,$1708.00,northeast